In [3]:
import yfinance as yf
import pandas as pd

tickers = ['XLB', 'XLE', 'XLF', 'XLI', 'XLK', 'XLP', 'XLV', 'XLY', 'XLU']
prices = yf.download(tickers, start = '2015-07-22', end = '2020-07-22')['Close']

prices.dropna(inplace=True)

prices.head()

C:\Users\anair26\AppData\Local\Temp\ipykernel_35112\1346307452.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  prices = yf.download(tickers, start = '2015-07-22', end = '2020-07-22')['Close']
[*********************100%***********************]  9 of 9 completed

Ticker,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,
2015-07-22,38.172901,47.283371,17.174089,45.129154,37.879154,38.438183,31.041731,65.296402,70.931488
2015-07-23,37.617882,47.243385,17.026386,44.712074,37.799286,38.292568,30.578962,65.059113,70.511208
2015-07-24,36.793541,46.336761,16.865250,44.128155,37.595154,38.077957,30.607889,63.431995,70.511208
2015-07-27,36.385441,45.670155,16.744404,43.911259,37.257896,38.054955,30.998354,63.372688,69.983604
2015-07-28,37.144505,46.976730,16.811539,44.762115,37.595154,38.484161,31.142971,64.516754,70.529076

In [ ]:
normalized_prices = prices / prices.iloc[0] 

ETF_combos = combinations(etfs,2)

normalized_prices.head()

Ticker,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,
2015-07-22,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2015-07-23,0.985460,0.999154,0.991400,0.990758,0.997891,0.996212,0.985092,0.996366,0.994075
2015-07-24,0.963865,0.979980,0.982017,0.977819,0.992502,0.990628,0.986024,0.971447,0.994075
2015-07-27,0.953175,0.965882,0.974981,0.973013,0.983599,0.990030,0.998603,0.970539,0.986637
2015-07-28,0.973060,0.993515,0.978890,0.991867,0.992502,1.001196,1.003261,0.988060,0.994327