In [58]:
import yfinance as yf
import pandas as pd
from statsmodels.tsa.stattools import coint
from statsmodels.tsa.stattools import adfuller
import statsmodels.api as sm

tickers = ['XLB', 'XLE', 'XLF', 'XLI', 'XLK', 'XLP', 'XLV', 'XLY', 'XLU', 'XLRE', 'XLC']
prices = yf.download(tickers, start = '2010-01-01', end = '2020-12-31')['Close']

returns = prices.pct_change().dropna()

correlation_matrix = returns.corr()
correlation_matrix = correlation_matrix.rename_axis(None).rename_axis(None, axis = 1)
correlation_matrix = correlation_matrix.stack().reset_index()
correlation_matrix.columns = ['ETF', 'Pair', 'Correlation']

correlation_matrix =  correlation_matrix[correlation_matrix['ETF'] != correlation_matrix['Pair']]
correlation_matrix = correlation_matrix.sort_values(by = 'Correlation', ascending = False)
correlation_matrix = correlation_matrix.drop_duplicates('Correlation')

potential_pairs = correlation_matrix[correlation_matrix['Correlation'] > 0.8]

print("Potential Correlated Pairs:")
potential_pairs

/var/folders/qd/xclxh05s0x9509nblm6z434w0000gp/T/ipykernel_34555/3521371524.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  prices = yf.download(tickers, start = '2010-01-01', end = '2020-12-31')['Close']
[*********************100%***********************]  11 of 11 completed

Potential Correlated Pairs:

      ETF Pair  Correlation
4     XLB  XLI     0.915227
37    XLF  XLI     0.910969
56    XLK  XLC     0.902712
115   XLY  XLK     0.900094
21    XLC  XLY     0.883070
33    XLF  XLB     0.871237
114   XLY  XLI     0.868811
10    XLB  XLY     0.845580
85   XLRE  XLU     0.838442
104   XLV  XLK     0.831220
43    XLF  XLY     0.826989
35    XLF  XLE     0.825928
94    XLU  XLP     0.817952
26    XLE  XLI     0.810709
119   XLY  XLV     0.803545
75    XLP  XLV     0.801949

In [59]:
tickers = prices.columns
cointegrated_pairs = []
prices = prices.dropna()
candidate_pairs = []

for i in range(len(tickers)):
    for j in range(i + 1, len(tickers)):
        candidate_pairs.append([tickers[i], tickers[j]])

for i, j in candidate_pairs:
        etf1 = i
        etf2 = j

        score, pvalue, _ = coint(prices[etf1], prices[etf2])

        if pvalue < 0.1:
                cointegrated_pairs.append((etf1, etf2, pvalue))
                
cointegrated_pairs_df = pd.DataFrame(cointegrated_pairs, columns = ['ETF', 'Pair', 'P-Value'])
cointegrated_pairs_df = cointegrated_pairs_df.sort_values('P-Value').reset_index(drop=True)

print("Cointegration Test Results:")
cointegrated_pairs_df

Cointegration Test Results:

   ETF Pair   P-Value
0  XLK  XLV  0.007507
1  XLC  XLY  0.014095
2  XLE  XLV  0.043761
3  XLE  XLK  0.079956
4  XLC  XLV  0.089709

In [61]:
rolling_cointegrated_pairs = []
prices = prices.dropna()

window_size = 252
min_passes = 0.4
step = 30

for etf1, etf2 in candidate_pairs:
        series1 = prices[etf1]
        series2 = prices[etf2]

        df = pd.concat([series1, series2], axis = 1)

        series1 = df.iloc[:, 0]
        series2 = df.iloc[:, 1]

        cointegrated_windows = 0
        total_windows = 0

        for start in range(0, len(df) - window_size + 1, step):
              end = start + window_size

              window_s1 = series1.iloc[start:end]
              window_s2 = series2.iloc[start:end]
              
              score, pvalue, _ = coint(window_s1, window_s2)
              total_windows += 1
              
              if pvalue < 0.1:
                   cointegrated_windows += 1

        if cointegrated_windows / total_windows >= min_passes:
             rolling_cointegrated_pairs.append({'ETF1': etf1,
                                        'ETF2': etf2,
                                        'Pass %': cointegrated_windows / total_windows})
                
rolling_cointegrated_pairs_df = pd.DataFrame(rolling_cointegrated_pairs)
rolling_cointegrated_pairs_df = rolling_cointegrated_pairs_df.sort_values('Pass %', ascending = False).reset_index(drop=True)

print("Rolling Cointegration Test Results:")
rolling_cointegrated_pairs_df

Rolling Cointegration Test Results:

   ETF1 ETF2    Pass %
0   XLB  XLC  0.538462
1   XLB  XLY  0.461538
2   XLC  XLF  0.461538
3  XLRE  XLU  0.461538

In [ ]:
results = []

def zscore_calc(series):
    return (series - series.mean()) / series.std()

def adf_test(series):
    test_res = adfuller(series)
    return {'stat': test_res[0], 'p-value': test_res[1]}

def hedge_ratio_calc(series1, series2):
    x = sm.add_constant(series2)
    model = sm.OLS(series1, x).fit()

    return model.params.iloc[1]

for etf1, etf2 in candidate_pairs:
    series1 = prices[etf1]
    series2 = prices[etf2]

    hedge_ratio = hedge_ratio_calc(series1, series2)

    spread = series1 - (hedge_ratio * series2)

    zscore_spread = zscore_calc(spread)

    adf_res = adf_test(spread)

    results.append(
        {'ETF1': etf1,
         'ETF2': etf2,
         'adf_value': adf_res['stat'],
         'p-value': adf_res['p-value'],
         'mean': zscore_spread.mean(),
         'std': zscore_spread.std()}
    )

results = pd.DataFrame(results)
results = results.sort_values('p-value', ascending = True)
results = results[results['p-value'] < 0.1]

print("ADF Test Results:")
results

ADF Test Results:

    ETF1 ETF2  adf_value   p-value          mean  std
43   XLK  XLV  -3.986589  0.001482  1.612343e-15  1.0
18   XLC  XLY  -3.784490  0.003070 -6.671763e-17  1.0
25   XLE  XLV  -3.384579  0.011496 -1.289874e-15  1.0
21   XLE  XLK  -3.140409  0.023704 -2.223921e-16  1.0
17   XLC  XLV  -3.093992  0.027001  3.113489e-16  1.0
22   XLE  XLP  -2.992473  0.035603 -1.267635e-15  1.0
13   XLC  XLK  -2.903833  0.044904 -8.895684e-16  1.0
49  XLRE  XLU  -2.773658  0.062136  1.111960e-16  1.0
0    XLB  XLC  -2.740419  0.067301  1.334353e-16  1.0
26   XLE  XLY  -2.733226  0.068463 -3.558273e-16  1.0
28   XLF  XLK  -2.619452  0.089043  1.284314e-15  1.0